@use "../shared/_colors.scss";

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 40px 12px;
  background: colors.$bgMain;
}

.link {
  color: colors.$darkLink;

  & + & {
    margin-left: 16px;
  }
}
