@use "../shared/_colors.scss";
@use "../shared/_mixins.scss";

.root {
  @include mixins.mq('md') {
    display: flex;
    align-items: flex-start;
  }
}

.author {
  padding: 24px 0;
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  font-size: 0.9rem;

  @include mixins.mq('md') {
    min-width: 120px;
    max-width: 120px;
  }

  .authorName {
    margin-left: 12px;
    font-size: 1.1rem;
  }

  .authorImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.releaseContainer {
  padding: 24px 0;
  padding-left: 16px;
  margin-left: 16px;
  border-left: 2px solid #eee;

  .releaseContainer__version {
    font-size: 0.9rem;
    color: #777;
  }

  .releaseContainer__name {
    font-weight: bold;
    font-size: 1.8rem;
    color: colors.$link;
    line-height: 1.8rem;

    display: flex;
    align-items: center;
  }

  .releaseContainer__category {
    margin-left: 8px;
  }

  .releaseContainer__body {
    margin-top: 24px;
  }
}
